<!DOCTYPE html>
<html lang="en">

<head>
  <title>จัดการอาจารย์ในกลุ่ม</title>
  <!-- logo title -->
  <link rel="shortcut icon" href="./img/logo.png" type="image/x-icon">

  <meta charset="UTF-8">
  <!-- <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon.png"> -->

  <link rel="stylesheet" href="./css/style.css" type="text/css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel='stylesheet' href='https://unpkg.com/bulma@0.7.4/css/bulma.min.css'>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel='stylesheet' href="../css/prism.css">
  <link rel="stylesheet" href="../css/cheatsheet.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.css" rel="stylesheet"/>

</head>

<body>
  <!-- หัวเว็บ -->
  <section class="hero is-info">
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <article class="media">
              <figure class="media-left">
                <p class="image is-96x96">
                  <br><img src="./img/logo.png">
                </p>
              </figure>
              <div class="media-content">
                <div class="content">
                  <p>
                    <h1 class="title">
                      ระบบจัดการการสอบ
                    </h1>
                    <h2 class="subtitle">
                      มหาวิทยาลัยบูรพา
                    </h2><br>
                  </p>
                </div>
              </div>
            </article>
          </div>
          <!-- ปุ่มออกจากระบบ -->
          <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item">
                ออกจากระบบ
              </a>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </section>

  <!-- body -->
  <section class="section has-background-light">
    <div class="container">
      <div class="columns">
        <!-- left menu -->
        <div class="column is-2 ">
          <div class="box ">
            <aside class="menu">
              <ul class="menu-list">
                <li><a href="/main">หน้าหลัก</a></li>
                <li><a href="/main">ถอยกลับ</a></li>
              </ul>
            </aside>
          </div>
        </div>

        <!-- box -->
        <div class="column is-10">
          <div class="content is-medium">
            <div class="box">
              <h4 id="const" class="title is-3 has-text-centered" name="headSub">จัดการอาจารย์ในกลุ่ม</h4>
              <div class="container">
                <div class="columns">
                  <div class="column is-9">

                    <!-- Search  card -->
                    <div class="card-content">
                      <div class="content">
                        <form>
                          <div class="field is-horizontal">
                            <div class="field-body">

                              <div class="field-label is-normal">
                                  <p class="subtitle is-5">ชื่ออาจารย์:</p>
                              </div>
                              <div class="field">
                                <p class="control">
                                  <input class="input is-medium " type="text" placeholder="ชื่ออาจารย์">
                                </p>
                              </div>
                              <div class="field">
                                <p class="control">
                                  <a class="button is-info is-medium is-outlined">ค้นหา</a>
                                </p>
                              </div>
                              <div class="field is-grouped is-grouped-right">
                                <a class="button is-info is-medium" href="/teacherGroup/tgroupCreate">เพิ่มอาจารย์</a>
                              </div>

                            </div>
                          </div>
                        </form>
                      </div>
                    </div>

                    <!-- table -->
                    <div class="columns">
                      <div class="column">
                        <div class="card events-card">
                          <header class="card-header">
                            <p class="card-header-title">

                            </p>
                          </header>
                          <div class="card-table">
                            <div class="content">
                              <form method="GET">
                                <table class="table is-narrow">
                                  <thead>
                                    <tr>
                                      <th>ลำดับ</th>
                                      <th>ชื่อ - นามสกุล</th>
                                      <th>Action</th>
                                    </tr>
                                  </thead>
                                  <tbody>

                                        <% for(var t = 0; t < tGroup.length; t++) { %>
                                        <tr>
                                          <td><%= t+1 %></td>
                                          <td><%= tGroup[t].nameT1 %></td>
    
                                          <td>
                                            <div class="field-body">
                                              <a class="button is-danger is-outlined" href="/teacherGroup/delete/<%= tGroup[t]._id %>">ลบอาจารย์</a>
                                            </div>
                                          </td>
                                        </tr>
                                        <% } %>
    
                                      </tbody>
                                 
                                </table>
                              </form>

                            </div>
                          </div>

                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <script async type="text/javascript" src="../js/bulma.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/prism.js'></script>
  <script>
    window.addEventListener('resize', () => {
      const divs = document.querySelectorAll(".menu-list");
      if (window.innerWidth < 768) {
        divs.forEach(div => div.classList.add("tags"));
      }
      else {
        divs.forEach(div => div.classList.remove("tags"));
      }
    });
  </script>
</body>

</html>